/* Landing page sections: Features
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/features/features.variables.scss */
.features {
  background: $landing-pattern;
  background-position: top;
  padding: 24px 0 45px 0;

  @media screen and (max-width: $sd-max) {
    padding: 120px 0 45px 0;
  }

  h2 {
    color: $features-title-color;
    letter-spacing: 1em;
    margin-left: $l;
    text-transform: uppercase;
  }

  .btn:not(:first-of-type) {
    margin-left: $m;
  }

  .feature-holder {
    align-items: center;
    display: flex;
    padding-top: 8em;

    @media screen and (max-width: $md-max) {
      flex-direction: column;
    }

    .features-btn-group {
      display: flex;
      justify-content: start;
    }
  }

  .feature-holder-reverse {
    @media screen and (max-width: $md-max) {
      flex-direction: column-reverse;
    }
  }

  .bubble {
    align-items: center;
    display: flex;
    flex: 0 0 420px;
    height: 390px;
    justify-content: center;
    position: relative;
    width: 420px;

    h3 {
      letter-spacing: 1em;
      margin-right: -1em;
      margin-top: -15px;
      text-align: center;
      z-index: $feature-h3-zindex;
    }
  }

  .bubble-dark-orange,
  .bubble-light-orange,
  .bubble-pink,
  .bubble-blue {
    border-radius: 50%;
    height: 330px;
    position: absolute;
    width: 330px;
  }

  .bubble-dark-orange {
    background-color: rgba($eos-dark-orange, 0.4);

    &.bubble-3 {
      background-color: rgba($eos-dark-orange, 0.7);
    }
  }

  .bubble-blue {
    background-color: rgba($eos-blue, 0.4);

    &.bubble-3 {
      background-color: rgba($eos-blue, 0.7);
    }
  }

  .bubble-light-orange {
    background-color: rgba($eos-light-orange, 0.4);

    &.bubble-3 {
      background-color: rgba($eos-light-orange, 0.7);
    }
  }

  .bubble-pink {
    background-color: rgba($eos-pink, 0.4);

    &.bubble-3 {
      background-color: rgba($eos-pink, 0.7);
    }
  }

  .bubble-1 {
    left: 0;
    top: 0;
  }

  .bubble-2 {
    right: 0;
    top: 0;
  }

  .bubble-3 {
    left: 45px;
    top: 15px;
  }

  .bubble-4 {
    bottom: 0;
    left: 45px;

    @media screen and (max-width: $md-max) {
      bottom: 20px;
    }
  }

  .bubble-text {
    padding: 4em;

    p {
      line-height: 1.4em;
      padding: 1.3em 0;
    }

    h3 {
      text-transform: uppercase;
    }
  }

  /* Tablet
  ========================================================================== */
  @media screen and (min-width: $md-min) {
    .feature-holder
    .bubble
    h3 {
      margin-top: -$xl;
    }
  }

  /* Mobile
  ========================================================================== */
  @media screen and (max-width: $sd-max) {
    padding: 20px 0 40px 0;

    h2 {
      font-size: $introduction-h2-font-size;
      padding: 0;
    }

    h3 {
      font-size: $introduction-h3-font-size;
    }

    .feature-holder {
      padding-top: 4em;

      .features-btn-group {
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .btn:not(:first-of-type) {
          margin: $s 0;
          margin-left: 0;
        }
      }
    }

    .bubble-text {
      display: flex;
      flex-direction: column;
      margin: 0px 1.2em;
      margin-top: -130px;
      padding: 0;

      p {
        margin: 0;
      }


      h3 {
        font-size: $features-h3-font-size;
      }
    }

    .bubble {
      width: 320px;

      h3 {
        margin-top: -155px;
      }

      .bubble-1 {
        left: 20px;
      }

      .bubble-2 {
        right: 20px;
      }

      .bubble-4 {
        bottom: 150px;
      }

      .bubble-dark-orange,
      .bubble-light-orange,
      .bubble-pink,
      .bubble-blue {
        border-radius: 50%;
        height: 230px;
        position: absolute;
        width: 230px;
      }
   }
  }
}
