/* Features variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/
$feature-container-border-color: $bc-gray-300;
$feature-container-border-highlight-color: $bc-gray-300;
$features-container-bg: $bc-white;

/* Border color */
$features-container-1: $bc-cerulean-500;
$features-container-2: $bc-violet-300;
$features-container-3: $bc-orange-400;
$features-container-4: $bc-green-500;

/**
* Sizing and spacing
*
* Spacing variables: /assets/stylesheets/base/variables/spacings.scss
*/
$feature-spacing: $xl - 4;
$feature-figure-img-height: 220px;
