- if ( process.env.NODE_ENV != 'production') {
  .js-eos-announcement.modal(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false')
    .modal-dialog(role='document')
      .modal-content
        .modal-body
          .modal-video.text-center
            h3
              | We're very excited to announce that
              br
              strong
                | EOS is live!
            br
            h4
              | Check it out at
              br
              a(href='https://eosdesignsystem.com')
                | https://eosdesignsystem.com
- }
