/* Dashboard writing variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */

/* $da-w- stands for $dashboard-writing */
$da-w-custom-breakpoint: 1090px;
/* Figure */
$da-w-card-colored-figure-height: $xxl;
$da-w-card-colored-figure-padding: 0 $l;
$da-w-card-colored-figure-width: 25%;
$da-w-card-colored-figure-m-width: 100%;
$da-w-card-colored-figure-m-padding: 0;
$da-w-card-colored-figure-m-margin-top: $l;
$da-w-card-colored-figure-img-m: $xxxl;
/* Content */
$da-w-card-colored-content-margin-bottom: $s;
$da-w-card-colored-content-padding: 0 $s;
$da-w-card-colored-content-width: 100%;
/* Head */
$da-w-card-colored-head-width: 75%;
/* Blocks */
$da-w-brand-voice-color: $bc-cerulean-100;
$da-w-brand-tone-color: $bc-green-200;
$da-w-brand-ux-writing: $bc-violet-100;
