/* Landing page sections: Cookies-alert
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/cookies-alert/cookies-alert.variables.scss */
.cookies-alert-body {
  align-items: center;
  display: flex;

  p {
    color: $cookies-alert-p-color;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: $cookies-alert-p-padding;
  }
}

.cookies-alert-buttons {
  align-items: center;
  display: flex;

  .btn-primary {
    color: $cookies-accept-color;
    padding: $cookies-alert-buttons-padding;
  }

  .btn-default {
    align-items: center;
    background-color: $cookies-alert-button-default-background-color;
    border-color: $cookies-alert-button-default-border-color;
    color: $cookies-alert-button-default-color;
    display: flex;
    padding: $cookies-alert-buttons-padding;

    &:hover {
      background: $bc-gray-100;
    }
  }
}
