/* Typography
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$font-type-base: 'Lato', sans-serif;
$font-size-base: 18px;
$font-weight-normal-base: 300;
$font-weight-bold-base: 700;
$font-weight-light-base: 300;
