extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Logo icons
      h4
        | Third-party logos used as icons in our interfaces should be harmonious with our icon set.
    hr

    section.margin-top-xxl
      h3.title-strong
        | Spacing between icons
      p
        | Guidelines defining spacing between icons can be found in our
        |
        a(href='/icons/icon-ux')
          | icon ux guide.

    section.margin-top-xxl
      h3.title-strong
        | Logo wrapper
      .row
        .col-md-8
          h5
            | Size
          p
            | When a wrapper is present, its size should be the icon size and the logo inside should be one scale less.
            | For example, a 36px logo icon with a wrapper is composed of a 36px wrapper and a 24px icon inside.
        .col-md-4.logos-icons
          img.logos-icons-size(src='/images/logos-guide/logo-wrap-info.svg')
      .row
        .col-md-12
          h5
            | Type
          p
            | For some situations (such as social network links) we can use a square wrapper as well.
            | Square with 0px or 2px rounded borders only.
          ul.nav.nav-tabs.nav-justified(role='tablist')
            li.active(role='presentation')
              a(href='#default-button-examples', aria-controls='default-button-examples', role='tab', data-toggle='tab')
                | Implementation examples
            li(role='presentation')
              a(href='#default-button-css-snippet', aria-controls='default-button-css-snippet', role='tab', data-toggle='tab')
                | SCSS code snippet
            .tab-content
              #default-button-examples.tab-pane.active(role='tabpanel')
                h6.title-strong
                  | Implementation of logo icon dark wrapper
                .implementation-example
                  .result
                    img.md-36.md-dark-wrapper.logo.logo-square(src='/images/icons/gitlab-white.svg')
                    img.md-36.md-dark-wrapper.logo.logo-round(src='/images/icons/gitlab-white.svg')
                  pre.prettyprint
                    code
                      | &lt;img src='gitlab-white.svg' class='md-36 md-dark-wrapper logo logo-square'/&gt;
                      | &lt;img src='gitlab-white.svg' class='md-36 md-dark-wrapper logo logo-round'/&gt;
                h6.title-strong
                  | Implementation of logo icon light wrapper
                .implementation-example
                  .result.dark-bg
                    img.md-36.md-light-wrapper.logo.logo-square(src='/images/icons/gitlab-dark.svg')
                    img.md-36.md-light-wrapper.logo.logo-round(src='/images/icons/gitlab-dark.svg')
                  pre.prettyprint
                    code
                      | &lt;img src='gitlab-dark.svg' class='md-36 md-light-wrapper logo logo-square'/&gt;
                      | &lt;img src='gitlab-dark.svg' class='md-36 md-light-wrapper logo logo-round'/&gt;
              #default-button-css-snippet.tab-pane(role='tabpanel')
                pre.prettyprint
                  code
                    |   /* Logo icons style */
                    |  .logo {
                    |     margin-right: $logo-icon-margin;
                    |     padding: $logo-icon-padding;
                    |
                    |     &-square {
                    |        border-radius: 0;
                    |     }
                    |
                    |    &-round {
                    |      border-radius: $logo-icon-wrapper-round;
                    |    }
                    |  }
                    |
                    |  .md-dark-wrapper {
                    |    background: $md-dark;
                    |
                    |    &.md-inactive {
                    |      background: $md-dark-inactive;
                    |    }
                    |  }
                    |
                    |  .md-light-wrapper {
                    |    background: $md-light;
                    |
                    |    &.md-inactive {
                    |      background: $md-light-inactive;
                    |    }
                    |  }
