extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Using third party icons in  #{config.brand} UIs

      h4
        | Material Design icons provide a large set of icons. 
        | Finding the correct icon and using it consistently across all  #{config.brand} products requires a well-defined set of rules (*).
      p
        small
          | (*) If you don't find a rule for an icon you are using, or for the action/use-case you need,
          | feel free to 
          a(href= 'http://uxui.suse.de/#/requests/new', target= '_blank')
            | contact the UX/UI team. 
          | We will process your request and get in contact with you shortly.
    hr      
    article
      h3.title-strong
        | Using Material Design icons 
        small 
          | (and Font Awesome as a fallback)
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | person
          hr
          h6
            | Material Design ligature:
          | person
          h6
            | Font Awesome fallback:
          i.fa.fa-user
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent a person/user in a table/list of users.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for user account or a group of users.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | account_circle
          hr
          h6
            | Material Design ligature:
          | account_circle
          h6
            | Font Awesome fallback:
          i.fa.fa-user-circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in links to user account, when a user will view or edit user account details, or next to the user name.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent a person/user or group of users.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | supervisor_account
          hr
          h6
            | Material Design ligature:
          | supervisor_account
          h6
            | Font Awesome fallback:
          | no fallback available
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent users with admin priviledges in a table/list of users.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in links to user account, even when the user has admin privilidges, nor for group of users.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | group
          hr
          h6
            | Material Design ligature:
          | group
          h6
            | Font Awesome fallback:
          i.fa.fa-group
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent a group of users/persons.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent and organization, admin user.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | domain
          hr
          h6
            | Material Design ligature:
          | domain
          h6
            | Font Awesome fallback:
          i.fa.fa-sitemap
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent organizations, e.g.:  #{config.brand} Germany,  #{config.brand} UK,  #{config.brand} China, etc. An organization contains group/s of users, subscriptions, systems, organization details, etc. as a whole entity.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent individual groups of users, group of systems, etc.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | desktop_windows
          hr
          h6
            | Material Design ligature:
          | desktop_windows
          h6
            | Font Awesome fallback:
          i.fa.fa-desktop
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent a system, a physical machine, a virtual machine, a cloud instance, or a group of any of them.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for configuration of any: system, virtual machine, cloud instance, etc.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | receipt
          hr
          h6
            | Material Design ligature:
          | receipt
          h6
            | Font Awesome fallback:
          | no fallback available
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent a registration code or software licence.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | -

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | file_download
          hr
          h6
            | Material Design ligature:
          | file_download
          h6
            | Font Awesome fallback:
          i.fa.fa-download
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for downloads, of any type.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use mimetype icons to represent a download, such as:
                  i.fa.fa-file-code-o.fa-fw
                  i.fa.fa-file-pdf-o.fa-fw
                  i.fa.fa-file-excel-o.fa-fw
                p
                  | These icons should be used for document type selections, or to visually represent the difference between items. The download action itself should always use the download icon.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | file_upload
          hr
          h6
            | Material Design ligature:
          | file_upload
          h6
            | Font Awesome fallback:
          i.fa.fa-upload
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to indicate an upload will be triggered, allowing the user to upload files of any type.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use mimetype icons to represent a upload, such as:
                  i.fa.fa-file-code-o.fa-fw
                  i.fa.fa-file-pdf-o.fa-fw
                  i.fa.fa-file-excel-o.fa-fw
                p
                  | Restrictions should be present in text form.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | attach_file
          hr
          h6
            | Material Design ligature:
          | attach_file
          h6
            | Font Awesome fallback:
          i.fa.fa-upload
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent attachments, whether present in a chat channel, support thread, and others, or as action to add an attachment to a message.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for general file uploads.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | info
          hr
          h6
            | Material Design ligature:
          | info
          h6
            | Font Awesome fallback:
          i.fa.fa-info-circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to show the customer the text displayed (or to be displayed if the information lays behind a tooltip/popover) is only informational and no immediate action is required.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for general text in the UI or documentation. Don't use it when an action is required from the user, in which case a state of warning/error should be assigned, with corresponding icons.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | error
          hr
          h6
            | Material Design ligature:
          | error
          h6
            | Font Awesome fallback:
          i.fa.fa-exclamation-circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to inform the user an error has occured and an action is required, even if the action is to wait and retry.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to highlight information that is not an error and does not require an action from the customer.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | warning
          hr
          h6
            | Material Design ligature:
          | warning
          h6
            | Font Awesome fallback:
          i.fa.fa-exclamation-triangle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to warn the user and inform them an action is required, even if the action is to wait and retry.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to highlight information that is not a warning and does not require an action from the customer.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | check_circle
          hr
          h6
            | Material Design ligature:
          | check_circle
          h6
            | Font Awesome fallback:
          i.fa.fa-check-circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  ul
                    li
                      | Use this icon to represent successful results: successful updates, removals, etc. or an applied/active status.
                    li
                      | Use this icon in buttons with no text for confirmation dialogs.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in call-to-actions buttons or links.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | check
          hr
          h6
            | Material Design ligature:
          | check
          h6
            | Font Awesome fallback:
          i.fa.fa-check
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in call-to-actions buttons or links next to the text of the action that will occur. If the icon is used without text in the actionable button/link, make sure to use a tooltip that explains the positive action on mouse over.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent successful results: successful updates, removals, etc. or an applied/active status.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | close
          hr
          h6
            | Material Design ligature:
          | close
          h6
            | Font Awesome fallback:
          i.fa.fa-close
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in buttons, modals or links to close a modal, message, notification, or cancel/dismiss an action.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent canceled/interrupted results or status: an update that was canceled, a rejected request, etc. or a disabled/inactive status.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | cancel
          hr
          h6
            | Material Design ligature:
          | cancel
          h6
            | Font Awesome fallback:
          span.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-close.fa-stack-1x.fa-inverse
            br
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  ul
                    li
                      | Use this icon in a response to represent canceled/interrupted results: an update that was canceled, a rejected request, etc. or a disabled/inactive status.
                    li
                      | Use this icon for cancellation purposes when no text will be displayed next to the icon in the button/link.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in buttons, modals or links to close a modal, message, notification, or cancel/dismiss an action.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | remove_circle
          hr
          h6
            | Material Design ligature:
          | remove_circle
          h6
            | Font Awesome fallback:
          i.fa.fa-minus-circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in an action to remove an item from a list or table.
                p
                  strong
                    | Dependency: 
                  | When removing an item a confirmation modal/popup including this icon should always be used.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                ul
                  li
                    | Use this icon to delete information permanently; e.g. when removing a user from a group which doesn't delete them from a database, vs., deleting a user account removes them from the database. For deletions please use the icon [delete].
                  li
                    | Use this icon in a UI to represent the [minus] icon.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | add_circle
          hr
          h6
            | Material Design ligature:
          | add_circle
          h6
            | Font Awesome fallback:
          i.fa.fa-plus-circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in an action to add an item to a list or table when no text will be present next to the icon in the button/link.

            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p 
                  | Use this icon in a calculator UI, for that use the [add] icon.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | add
          hr
          h6
            | Material Design ligature:
          | add
          h6
            | Font Awesome fallback:
          i.fa.fa-plus
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                ul
                  li
                    | Use this icon in an action to add or create an item when a text like "create new server", "add new nodes", etc. will be displayed next to the icon in the button/link.
                  li
                    | Use this icon in UIs for the mathematical add operator.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p 
                  | Use this icon in a UI without text as an [add] icon.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | delete
          hr
          h6
            | Material Design ligature:
          | delete
          h6
            | Font Awesome fallback:
          i.fa.fa-trash
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in an action to delete an item/information from the system (from the DB), or as the result of it, e.g.: "[delete] message deleted".
                p
                  strong
                    | Dependency: 
                  | When permanently deleting an item a confirmation modal/popup including this icon should always be used. 
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                ul
                  li
                    | Use this icon to remove items from a list/table, that will be lost from the database, e.g.: when removing a user from a group which doesn't delete them from a database, vs., deleting a user account removes them from the database. For removals please use the icon [remove_circle].

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | block
          hr
          h6
            | Material Design ligature:
          | block
          h6
            | Font Awesome fallback:
          i.fa.fa-ban
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent status unavailable, disabled, or for actions to disable or block.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon stacked with other icons to represent removals or the action of disabling an item, e.g.: the block icon stacked with a desktop_windows under to represent the removal/disbling of a system.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | visibility
          hr
          h6
            | Material Design ligature:
          | visibility
          h6
            | Font Awesome fallback:
          i.fa.fa-eye
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in links/buttons to make hidden information visible, as well as links to show/view more information.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in results/responses, e.g.: the icon next to a title such as: Showing all results.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | visibility_off
          hr
          h6
            | Material Design ligature:
          | visibility_off
          h6
            | Font Awesome fallback:
          i.fa.fa-eye-slash
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon only in links/buttons to hide information.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in results/responses, e.g.: the icon next to a title such as a list of hidden systems.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | sync
          hr
          h6
            | Material Design ligature:
          | sync
          h6
            | Font Awesome fallback:
          i.fa.fa-refresh
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in actionable items that will trigger a refresh, reload, sync of data, etc. in which the results will be shown in the UI without a page refresh. Use this icon together with the "spin" class to animate the spinning when the data is being retrieved.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon on actions that will trigger an update server side that will not return results to the front-end directly but rather require a page refresh.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | more_vert
          hr
          h6
            | Material Design ligature:
          | more_vert
          h6
            | Font Awesome fallback:
          i.fa.fa-ellipsis-v
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for a contextual menu with a list of options to display in a dropdown or popover.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for specific dropdown triggers, such as a notifications menu, account menu.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | more_horiz
          hr
          h6
            | Material Design ligature:
          | more_horiz
          h6
            | Font Awesome fallback:
          i.fa.fa-ellipsis-h
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Similar to [visibility] with a few differences: Use this icon in links/buttons to make hidden information visible, as long as the user will remain in the same page/section and there won't be a "hide" action after the information has been shown, e.g.: a very long text is shown half hidden, and clicking on this icon would show the remaining text.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                ul
                  li
                    | Use this icon to open dropdowns, in notification menues, account menues.
                  li
                    | Use this icon in links/buttons that will take the user to a different page/section to view more information. Use [visibility] for this purpose instead.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | headset_mic
          hr
          h6
            | Material Design ligature:
          | headset_mic
          h6
            | Font Awesome fallback:
          i.fa.fa-life-saver
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon when offering a user a way to contact support in Chat or Ticketing form.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for other general contact information, such as email, social media, etc.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | search
          hr
          h6
            | Material Design ligature:
          | search
          h6
            | Font Awesome fallback:
          i.fa.fa-search
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon within a search input at the far right, for buttons which open up/display a search input, or submit buttons in the search input that will send the search form.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon as a status response when performing a search.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | arrow_forward
          hr
          h6
            | Material Design ligature:
          | arrow_forward
          h6
            | Font Awesome fallback:
          i.fa.fa-arrow-right
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in popovers, modals, notifications, and alerts as a link or button to take a user to a different page.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in normal links.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | exit_to_app
          hr
          h6
            | Material Design ligature:
          | exit_to_app
          h6
            | Font Awesome fallback:
          i.fa.fa-arrow-right
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in external links or buttons linking to external links which will open in a new tab/window.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in normal links.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_down
          hr
          h6
            | Material Design ligature:
          | keyboard_arrow_down
          h6
            | Font Awesome fallback:
          i.fa.fa-chevron-down
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in collapsible items/information as the action to open the items/information. You may also use this icon in a button/link that scroll the user downwards in the same screen.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                ul
                  li
                    | Use this icon in dropdowns. Instead use 
                    strong
                      |  arrow_drop_down
                    i.material-icons
                      | arrow_drop_down
                  li
                    | Don't use this icon to order columns in tables.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_up
          hr
          h6
            | Material Design ligature:
          | keyboard_arrow_up
          h6
            | Font Awesome fallback:
          i.fa.fa-chevron-up
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in collapsible items/information as the action to open the items/information. You can also use this icon in a button/link that scroll the user downwards in the same screen.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to order columns in tables.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | folder_open
          hr
          h6
            | Material Design ligature:
          | folder_open
          h6
            | Font Awesome fallback:
          i.fa.fa-folder-open
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon when there are 
                  strong no results 
                  | to show, e.g.: there are no Subscriptions to show in the Subscription page.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to show groups of items. Instead use  
                  strong
                    | folder
                  i.material-icons.md-18
                    | folder

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | history
          hr
          h6
            | Material Design ligature:
          | history
          h6
            | Font Awesome fallback:
          i.fa.fa-history
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent logs or history of information/data.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to trigger a refresh of history of information/data.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | timeline
          hr
          h6
            | Material Design ligature:
          | timeline
          h6
            | Font Awesome fallback:
          i.fa.fa-bar-chart
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent statistics or charts, or in buttons/links that will generate one, always with the text explaining the action, e.g.: "[icon] create chart"
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for history of data such as activity logs.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_right
          hr
          h6
            | Material Design ligature:
          | keyboard_arrow_right
          h6
            | Font Awesome fallback:
          i.fa.fa-arrow-right
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon only for navigation elements to move to the  
                  strong
                    | next 
                  | page.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in buttons/links to approve, confirm an action, "view more", or "find out" buttons/links.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_left
          hr
          h6
            | Material Design ligature:
          | keyboard_arrow_left
          h6
            | Font Awesome fallback:
          i.fa.fa-arrow-left
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon only for navigation elements to move to the  
                  strong
                    | previous 
                  | page, or in 
                  strong
                    | go back 
                  | buttons/links.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in buttons/links to cancel or dismiss an action.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | edit
          hr
          h6
            | Material Design ligature:
          | edit
          h6
            | Font Awesome fallback:
          i.fa.fa-pencil
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in buttons/links next to the text "edit (...)" inorder to be specific about what is to be edited. Also, you may use the standalone icon in modular components or table rows to edit the content displayed in these, always with a tooltip explaining the information that will be edited.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon inside input fields or in a submit button that confirms the editing of a form.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | verified_user
          hr
          h6
            | Material Design ligature:
          | verified_user
          h6
            | Font Awesome fallback:
          i.fa.fa-shield
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for verification, status of verified users/accounts/systems/etc, or to activate systems/accounts/subscriptions in buttons/links.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for anything related to security.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | forum
          hr
          h6
            | Material Design ligature:
          | forum
          h6
            | Font Awesome fallback:
          i.fa.fa-comments-o
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for forums, or chat rooms where the user will be in touch with more than 1 user and be able to initiate conversations.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for unidirectional communication tools such as feedback, or 1:1 communication tools such as support chat, where the user will only send a unique message, or have a conversation with only 1 person (in the case of support chat).

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | chat
          hr
          h6
            | Material Design ligature:
          | chat
          h6
            | Font Awesome fallback:
          i.fa.fa-comment
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for unidirectional communication tools such as feedback, or 1:1 communication tools such as support chat, where the user will only send a unique message, or have a conversation with only 1 person (in the case of support chat).
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in links/buttons to forums, or chat rooms where the user will be in touch with other users and be able to initiate conversations.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | textsms
          hr
          h6
            | Material Design ligature:
          | textsms
          h6
            | Font Awesome fallback:
          i.fa.fa-commenting
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in real time applications where a user is typing a message.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | -

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | email
          hr
          h6
            | Material Design ligature:
          | email
          h6
            | Font Awesome fallback:
          i.fa.fa-envelope
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in links/buttons that:
                  ul
                    li
                      | will take the user to a contact page where the user will send an email through a form.
                    li
                      | will open the user's email cient (to send an email).
                p
                  | Use this icon next to a title or in a section to represent the section shows a list of emails received or in a form that will send an email.
                p
                  | Use this icon for mail addresses.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to reply an email.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | reply
          hr
          h6
            | Material Design ligature:
          | reply
          h6
            | Font Awesome fallback:
          i.fa.fa-mail-reply
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to reply to emails, chat or comments.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to forward/upload data.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | notifications
          hr
          h6
            | Material Design ligature:
          | notifications
          h6
            | Font Awesome fallback:
          i.fa.fa-bell
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                ul
                  li
                    | Use this icon in a list of notifications.
                  li
                    | Use this icon to represent when new notifications are available.
                  li
                    | Use this icon in the action to re-activate notifications for an item/account.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in normal alerts prompted after a certain action, e.g.: successfully added a system.

    hr.hr-dotted

    article
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | notifications_off
          hr
          h6
            | Material Design ligature:
          | notifications_off
          h6
            | Font Awesome fallback:
          i.fa.fa-bell-slash
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                ul
                  li
                    | Use this icon to represent that notifications have been turned off for the item/account.
                  li
                    | In the action to disable notifications for an item/account.
            .dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in normal alerts prompted after a certain action, e.g.: successfully added a system.
