#video-dashboard.modal.video-modal.fade.js-video-modal(tabindex='-1', role='dialog', aria-labelledby='modal-video-label')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            i.material-icons.md-18
              | close
      .modal-body
        .modal-video
          video(controls='')
            source.js-eos-icons(src='#', type='video/mp4')
