h6.menu-headers
  | Tools and guides
ul.no-list-style
  li(data-placement='right', title='Dashboard')
    a(href='/dashboard', class= path.match(/\/dashboard/) ? 'active' : '')
      i.material-icons
        | dashboard
      span
        | Dashboard
  li(data-placement='right', title='Colors')
    a(href='/colors', class= path.match(/\/colors/) ? 'active' : '')
      i.material-icons
        | color_lens
      span
        | Colors
  li(data-placement='right', title='Icons')
    a(href='/icons', class= path.match(/\/(icons(?!-))/) ? 'active' : '')
      i.eos-icons
        | miscellaneous
      span
        | Icons
  li(data-placement='right', title='Writing guides')
    a(href='/writing', class= path.match(/\/writing/) ? 'active' : '')
      i.material-icons
        | spellcheck
      span
        | Writing guides
  li(data-placement='right', title='Buttons')
    a(href='/buttons', class= path.match(/\/buttons.*?/) ? 'active' : '', class= flags.buttons.enabled ? '' : 'hidden')
      i.material-icons
        | crop_16_9
      span
        | Buttons

//- Show only on development
- if ( process.env.NODE_ENV != 'staging' && process.env.NODE_ENV != 'production') {
  hr
  h6.menu-headers
    | Internal tools
  ul.no-list-style
    li(data-placement='right', title='Icons report')
      a(href='/internal/icons-report', class= path === '/internal/icons-report' ? 'active' : '')
        i.eos-icons
          | miscellaneous
        span
          | Icons report
    li(data-placement='right', title='Special icons list')
      a(href='/internal/special-icons', class= path === '/internal/special-icons' ? 'active' : '')
        i.eos-icons
          | miscellaneous
        span
          | Special icons list
    li(data-placement='right', title='Spacewalk icons in SUMA')
      a(href='/internal/spacewalk-icons-suma', class= path === '/internal/spacewalk-icons-suma' ? 'active' : '')
        i.eos-icons
          | miscellaneous
        span
          | Spacewalk icons in SUMA
    li(data-placement='right', title='Spacewalk icons in SCC')
      a(href='/internal/spacewalk-icons-scc', class= path === '/internal/spacewalk-icons-scc' ? 'active' : '')
        i.eos-icons
          | miscellaneous
        span
          | Spacewalk icons in SCC
    li(data-placement='right', title='Stratos icons list')
      a(href='/internal/stratos-icons', class= path === '/internal/stratos-icons' ? 'active' : '')
        i.eos-icons
          | miscellaneous
        span
          | Stratos icons list
    li(data-placement='right', title='Design specs')
      a(href='/internal/design-specs', class= path === '/internal/design-specs' ? 'active' : '')
        i.eos-icons
          | image
        span
          | Design specs
    li(data-placement='right', title='Mocked menu')
      a(href='/internal/mocked-menu', class= path === '/internal/mocked-menu' ? 'active' : '')
        i.eos-icons
          | miscellaneous
        span
          | Mocked menu
- }
