/* Summary
   ========================================================================== */
/**
* Colors and borders
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/
$summary-color-em: $bc-green-500;
$summary-color-text: $bc-gray-500;
$summary-bg: $bc-gray-100;

/**
* Sizing and spacing
*
* Spacing variables: /assets/stylesheets/base/variables/spacings.scss
*/
$summary-spacing: $xxl - 26px;
$summary-line-height: $xl;
$summary-margin: $xxl;
$summary-center-padding: $xl $summary-spacing;
$summary-text: $h3-font-size; // Reference: /assets/stylesheets/base/variables/titles.scss
