/* Landing page sections: Announcement
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/announcement/announcement.variables.scss */
.modal-video {

  h3,
  h4 {
    color: $eos-announcement-h3-color;
  }
}
