/* Landing page sections: Footer
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/footer/footer.variables.scss */

footer {
  font-size: $footer-font;
  padding: $s 0;

  .landing-cookie-link {
    color: $footer-link-color;
  }
}
